@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  background-color: #333333;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
}

.App {
  background-color: #333333;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 20px;
}

.outer-container {
  display: flex;
  justify-content: center;
}

.controls-container,
.performance-container,
.dev-controls-container {
  background-color: #4A4A4A;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
}

.controls-container {
  width: 80%;
}

.start-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* show start/stop button under controls on a smaller screen */
@media (max-width: 320px) {
  .start-container {
    flex-direction: column;
  }
}

/* show start/stop button next to controls on a larger screen */
@media (max-width: 1920px) {
  .start-container {
      flex-direction: row;
  }
} 

.start-stop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  .start-stop-container {
    flex-direction: row;
    margin-top: 15px;
  }
}

@media (max-width: 1920px) {
  .start-stop-container {
    flex-direction: column;
  }
}

.performance-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

/* Performance Section */

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.data-title {
  font-weight: bold;
}

/* Dev Controls */

.dev-controls-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 320px) {
  .dev-controls-container {
    flex-direction: row;
    margin-top: 15px;
  }
}

@media (max-width: 1920px) {
  .dev-controls-container {
    flex-direction: column;
    width: 1000px;
  }
}